
#todoinput{
    background-color: grey;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}
.addbtn{
    border: 0;
    box-sizing: border-box;
    background-color: crimson;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin: 5px;
    transition: all 0.3s;
}
.addbtn:hover{
    transform: scale(1.08);
}